SQL Alchemy Tutorial by Tutorials Point

DATE : 27.10.2022

https://www.tutorialspoint.com/sqlalchemy/index.htm

In [1]:
# Import necessary Libraries

from sqlalchemy import Table, Column, Integer, String, MetaData, create_engine

In [2]:
# MetaData Object is a collection of Table objects and their associated schema constructs.
# It holds a collection of Table objects as well as an optional binding to an Engine or Connection.
meta = MetaData()

In [3]:
# Create an engine for database
engine = create_engine("sqlite:///college.db", echo=False)

#Echo = Console Output

In [4]:
# Create a Table in the database as "Students"

students = Table(
    'students', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('lastname', String),
)

meta.create_all(engine)

In [5]:
# Insert objects

ins = students.insert()
ins = students.insert().values(name='Emre', lastname='Kaynar')
conn = engine.connect()

In [6]:
# Execute the insertion
result = conn.execute(ins)

In [7]:
# Direct insertions with dictionary
conn.execute(students.insert(), [
    {'name': 'Emre', 'lastname': 'Acir'},
    {'name': 'Eren', 'lastname': 'Mungan'},
    {'name': 'Ziya', 'lastname': 'Ercan'},
])

In [8]:
#Select All students
s = students.select()

#Connect to engine
conn = engine.connect()

#Excute Query
result = conn.execute(s)

for row in result:
   print (row)

(1, 'Emre', 'Kaynar')
(2, 'Emre', 'Acir')
(3, 'Eren', 'Mungan')
(4, 'Ziya', 'Ercan')
(5, 'Emre', 'Kaynar')
(6, 'Emre', 'Acir')
(7, 'Eren', 'Mungan')
(8, 'Ziya', 'Ercan')

In [9]:
# Select students 'where' id > 2
s = students.select().where(students.c.id > 2)
result = conn.execute(s)

for row in result:
    print(row)

(3, 'Eren', 'Mungan')
(4, 'Ziya', 'Ercan')
(5, 'Emre', 'Kaynar')
(6, 'Emre', 'Acir')
(7, 'Eren', 'Mungan')
(8, 'Ziya', 'Ercan')

In [10]:
# Import necessary library for textual SQL query
from sqlalchemy.sql import text

# Query
s = text("select students.name, students.lastname from students where students.name between :x and :y")

# Execute Query
conn.execute(s, x='A', y='L').fetchall()

[('Emre', 'Kaynar'),
 ('Emre', 'Acir'),
 ('Eren', 'Mungan'),
 ('Emre', 'Kaynar'),
 ('Emre', 'Acir'),
 ('Eren', 'Mungan')]