SQL Alchemy Tutorial by Tutorials Point

DATE : 27.10.2022

https://www.tutorialspoint.com/sqlalchemy/index.htm

In [1]:
# Import necessary Libraries

from sqlalchemy import Table, Column, Integer, String, MetaData, create_engine

In [2]:
# MetaData Object is a collection of Table objects and their associated schema constructs.
# It holds a collection of Table objects as well as an optional binding to an Engine or Connection.
meta = MetaData()

In [3]:
# Create an engine for database
engine = create_engine("sqlite:///college.db", echo=False)

# Echo = Console Output

In [4]:
# Create a Table in the database as "Students"

students = Table(
    'students', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('lastname', String),
)

meta.create_all(engine)

In [5]:
# Insert object

ins = students.insert()
ins = students.insert().values(name='Emre', lastname='Kaynar')

In [6]:

# Connect to engine
conn = engine.connect()

# Execute the insertion
result = conn.execute(ins)

In [7]:
# Direct insertions with dictionary
conn.execute(students.insert(), [
    {'name': 'Emre', 'lastname': 'Acir'},
    {'name': 'Eren', 'lastname': 'Mungan'},
    {'name': 'Ziya', 'lastname': 'Ercan'},
])

In [8]:
# Select All students
s = students.select()

# Excute Query
result = conn.execute(s)

for row in result:
    print(row)

(1, 'Emre', 'Kaynar')
(2, 'Emre', 'Acir')
(3, 'Eren', 'Mungan')
(4, 'Ziya', 'Ercan')

In [9]:
# Select students 'where' id > 2
s = students.select().where(students.c.id > 2)
result = conn.execute(s)

for row in result:
    print(row)

(3, 'Eren', 'Mungan')
(4, 'Ziya', 'Ercan')

In [10]:
# Import necessary library for textual SQL query
from sqlalchemy.sql import text

# Query
s = text("select students.name, students.lastname from students where students.name between :x and :y")

# Execute Query
conn.execute(s, x='A', y='L').fetchall()

[('Emre', 'Kaynar'), ('Emre', 'Acir'), ('Eren', 'Mungan')]

In [12]:
# Import necessary library for SQL aliasing
from sqlalchemy.sql import alias, select


st = students.alias("a")
s = select([st]).where(st.c.id > 2)
conn.execute(s).fetchall()

[(3, 'Eren', 'Mungan'), (4, 'Ziya', 'Ercan')]

In [16]:
# Using update()

stmt = students.update().where(students.c.lastname ==
                               "Acir").values(lastname="Acır")
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

[(1, 'Emre', 'Kaynar'),
 (2, 'Emre', 'Acır'),
 (3, 'Eren', 'Mungan'),
 (4, 'Ziya', 'Ercan')]

In [17]:
# Using delete()

stmt = students.delete().where(students.c.lastname == 'Mungan')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

[(1, 'Emre', 'Kaynar'), (2, 'Emre', 'Acır'), (4, 'Ziya', 'Ercan')]

In [19]:
# Using Multiple Tables
from sqlalchemy import ForeignKey

# Create a new Table for addreses
students = Table('addresses', meta,
                 Column('id', Integer, primary_key=True),
                 Column('st_id', Integer, ForeignKey('students.id')),
                 Column('side', String))

meta.create_all(engine)

InvalidRequestError: Table 'addresses' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.